/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-09-08, 12:12:13
    Author     : Piotr
*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext);

#IdealCutter.payment_module a{
    padding: 33px 40px 34px 99px;
    background: #ffffff url("../logo.png") no-repeat 34px center;
}

.idealcutter_order_confirmation {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    background: #FFF;
}
.idealcutter_order_confirmation h5{
    font-size: 16px;
    color: #a11622;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.idealcutter_order_confirmation p,
.idealcutter_order_confirmation p.radio-inline,
.idealcutter_order_confirmation p label + label{
    margin-top:10px;
}
.idealcutter_order_confirmation p span.tax_info,
.idealcutter_order_confirmation p span.order_num,
.idealcutter_order_confirmation p span.price{
    font-size: 14px;
    color: #a11622;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}