/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-09-08, 12:12:13
    Author     : Piotr
*/
#idcut_payment_form {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    background: #FFF;
}
#idcut_payment_form h5{
    font-size: 16px;
    color: #a11622;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
#idcut_payment_form p span.tax_info,
#idcut_payment_form p span.price{
    font-size: 14px;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
#idcut_payment_form p,
#idcut_payment_form p.radio-inline{
    padding-bottom: 10px;
}
#idcut_payment_form p,
#idcut_payment_form p.radio-inline,
#idcut_payment_form p label + label{
    margin-top:10px;
}
#idcut_payment_form .radio-inline,
#idcut_payment_form .radio-inline label{
    font-size: 16px;
    color: #a11622;
    font-family: 'PT Sans', sans-serif;
    display:block;
    clear:left;
    font-weight: normal;
    margin-left: 0;
}
#idcut_payment_form .radio-inline label.deal_token{
    padding-left: 20px; 
}

